In [1]:
import pandas as pd
import classy_utils as utils
df = pd.read_csv('abortion_data_clean.csv', usecols=['label', 'location', 'tweet_text'])
df.head()

  label          location                                         tweet_text
0     0       Milford, CT  million unborn children have lost their lives ...
1     0  Atlanta, Georgia  #prolife #parenthood #babies #motherhood #preg...
2     0               NaN                       definitely not safe for baby
3     0               NaN  i think she wants to see herself as #prolife a...
4     0               NaN                                    I hate abortion

In [2]:
positive_df = df.loc[df.label == '1']
len(positive_df)

600

In [6]:
negative_df = df.loc[df.label == '0']

len(negative_df)

800

In [7]:
neutral_df = df.loc[df.label.isnull()]
neutral_df = neutral_df.sample(600)
len(neutral_df)

600

In [8]:
frames = [positive_df, negative_df, neutral_df]
new_df = pd.concat(frames)
new_df.head()

   label      location                                         tweet_text
5      1  Columbus, OH  along party lines fetal remains burial cremati...
7      1  Columbus, OH  but firstanother bill in #ohio senate this wou...
8      1       Alabama  stand by for onslaught of triggered liberals w...
15     1   Chicago, IL  are good for society there i said it #notsorry...
18     1   SisterPress  to those fucks who go around spewing their val...